<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1085479060201-3r56pfl45ruodo0plipo8sqbqpqc96hj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1085479060201-3r56pfl45ruodo0plipo8sqbqpqc96hj</string>
	<key>API_KEY</key>
	<string>AIzaSyDof6c4jwW0OKBKd1ZJqCAoDob6-G9rjjo</string>
	<key>GCM_SENDER_ID</key>
	<string>1085479060201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sigety.TapPlease-</string>
	<key>PROJECT_ID</key>
	<string>tapplease-45296</string>
	<key>STORAGE_BUCKET</key>
	<string>tapplease-45296.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085479060201:ios:5623a518d4a821abcda678</string>
</dict>
</plist>