<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1085479060201-3r56pfl45ruodo0plipo8sqbqpqc96hj</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>1085479060201-3r56pfl45ruodo0plipo8sqbqpqc96hj.apps.googleusercontent.com</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>BC1x</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
</dict>
</plist>
